.join-room-modal .modal-content {
    border-radius: 12px;
    border: 1px solid var(--primary-colormary);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .join-room-header {
    background-color: var(--primary-color);
    color: #fff;
    border-bottom: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .input-code {
    padding: 12px;
    font-size: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    transition: border-color 0.3s;
  }
  
  .input-code:focus {
    border-color: var(--secondary-color);
    box-shadow: 0 0 0 0.2rem rgba(100, 100, 255, 0.25);
    outline: none;
  }
  