.forgotPass-link{
    font-size: 15px;
    cursor: pointer;
    color: rgb(133,82,170);
    font-weight: 500;
}

.forgotPass-link:hover{
    color: rgb(142, 106, 168);
}

.input-login:focus{
    box-shadow: 0px 0px 5px 2px rgba(133,82,170,0.75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(133,82,170,0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(133,82,170,0.75);
}

.login-btn{
    background-color: #157347;
    border: none;
}

.login-btn:hover{
    background-color: rgba(21,	115, 71, 0.75);
    color: white;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 75vh;
}

.login-link-container{
    display: grid;
}