.navbar-account_navbar{
    display: flex;
    padding: 10px;
    gap: 15px;
    justify-content: center;
    cursor: pointer;
    margin-right: 50px;
}

.navbar-img_navbar{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-img_navbar img{
    width: 100%;
    object-fit: cover;
}

.navbar-account-rol_navbar{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 0;
}

.navbar-account-username_navbar{
    font-weight: 500;
    margin-bottom: 0;
}