.navbar-account_navbar {
    cursor: pointer;
}

.navbar-img_navbar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    overflow: hidden;
}

.navbar-img_navbar img {
    width: 100%;
    object-fit: cover;
}

.navbar-account-rol_navbar {
    font-size: 15px;
    font-weight: 300;
}

.navbar-account-username_navbar {
    font-weight: 500;
}