.name-lastname-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}  

.register-container{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 95vh;
}

.register-success-animation {
    animation: fadeIn 1s ease-in-out;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: green;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
