:root {
    --primary-color: #8552aa;
    --secondary-color: #157347;
}

.logo-title{
    font-family: "Nunito", sans-serif;
    font-weight: bolder;
    cursor: pointer;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}